.img{
    background-image: url(images/cow-market2.jpg);
    background-size:cover;
    width:auto;
    height:auto;
   
}
.para{
  
    margin-left: 100px;
    margin-top:-500px;
    color:red;
    
}
.link-button{
    text-align: left;
    border: 1px solid red;
    color: white;
    background-color: red;
    text-decoration: none;
}
.par{
    display: flex;
    margin-top: 300PX;;
    margin-left: 100PX;
    

}
.pic{
    display: flex;
    width: 50%;
    
}
.link-button1{
    background-color: red;
    border: 1px solid red;
    color:white;
    text-decoration: none;
}

.par1{
    display: flex;
    margin-top: 5%;;
    margin-left: 100PX;
   
}

.pic1{
    display: flex;
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
}

.link-button2{
    background-color: red;
    border: 1px solid red;
    color:white;
    text-decoration: none;
}

.abc{
    text-align: center;
    margin-top: 5%;
}
.direct{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    gap: 5%;
}

.direct1{
    padding-top: 5%;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    gap: 5%;
}


.a{
    border: 1px solid  red;
    background-color: bisque;
    border-radius: 5px ;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(images/Capture.PNG);
    background-repeat: no-repeat;

}
.b{
    border: 1px solid  red;
    background-color: bisque;
    border-radius: 5px ;  
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(images/Capture.PNG);
    background-repeat: no-repeat;

}
.c{
    border: 1px solid  red;
    background-color: bisque;
    border-radius: 5px ;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(images/Capture.PNG);
    background-repeat: no-repeat;


}
.d{
    border: 1px solid  red;
    background-color: bisque;
    border-radius: 5px ; 
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(images/Capture.PNG);
    background-repeat: no-repeat;
 
}

.prayer{
    display: flex;
    padding-top: 100px;
    gap: 5%;
    padding-left:250px;

}
.charity{
    text-align: center;
    padding-top: 100px;
}
.zakat{
    display: flex;
    text-align: center;
    gap: 5px;
    padding-left: 100px; 
    padding-right: 100px;
}
.e{
    border: 1px solid  red;
    background-color: bisque;
    border-radius: 5px ; 
    margin-left: 50px;
    margin-right: 100px;
    background-repeat: no-repeat;
    text-align: left;
 
}

.f{
    border: 1px solid  red;
    background-color: bisque;
    border-radius: 5px ; 
    margin-left: 50px;
    margin-right: 50px;
    background-repeat: no-repeat;
    text-align: left;
 
}
.g{
    border: 1px solid  red;
    background-color: bisque;
    border-radius: 5px ; 
    margin-left: 50px;
    margin-right: 50px;
    background-repeat: no-repeat;
    text-align: left;
 
}

.link-button5{
    color: red;
}
footer{
    text-align: center;
    font-style:italic; ;
    border: 1px solid red;
    padding-top: 10px;
    background-color: black;
    color: white;
}
.red{
    color: red;

}
